.about-content-background {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn2.shopify.com%2Fs%2Ffiles%2F1%2F0087%2F7412%2F3601%2Ffiles%2FAdobeStock_169756741_1024x1024.jpg%3Fv%3D1563320551&f=1&nofb=1&ipt=2933cf631ba4784985260f456ca3ff22b74c9e7e2a3ee12355e09173de49575f&ipo=images");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333333;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 100vh;
  color: white;
}

.about-content {
  position: relative;
  top: 25vh;
  max-width: 1080px;
  margin: 0 auto;
}