.location-content-background {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fheyhannover.de%2Fwp-content%2Fuploads%2F2019%2F02%2Fpizza-napoli-hannover-1200x804.jpg&f=1&nofb=1&ipt=76ce3226b4889fccfd4814bfff51480c4a731f87add1823ef62531cfc0ad42bf&ipo=images");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: var(--spacing-12);
  padding-bottom: var(--spacing-12);
  color: white;
}

.location-content {
  max-width: 1080px;
  margin: 0 auto;
}

.location-content .text-container {
  background-color: var(--main-color-opacity);
  border-radius: 25px;
  padding: var(--spacing-2);
}

.location-content .text-container h3,
.location-content .text-container h5 {
  color: white;
}

.map {
  border: none;
  border-radius: 25px;
  width: 100%;
  max-width: 800px;
  height: 600px;
}
@media screen and (min-width: 768px) {
  .location-content-background {
    padding-top: var(--spacing-8);
    padding-bottom: var(--spacing-8);
  }
}

@media screen and (min-width: 992px) {
  .location-content .left-content {
    padding-right: var(--spacing-12);
  }
}
