html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.home-content-background {
  background-color: #ffffff;
  padding-top: calc(var(--spacing-12) + (var(--spacing-12) / 2));
  padding-bottom: var(--spacing-12);
}

.home-content {
}

.left-content,
.right-content {
  max-height: 900px;
  color: inherit !important;
}

.left-content {
  padding-bottom: var(--spacing-6) !important;
}

.right-content {
}

.text-container {
  margin: 0 auto !important;
  max-width: 500px;
}

.home-content .text-container {
  margin-bottom: var(--spacing-12) !important;
}

.text-location {
  font-weight: bold !important;
}

.action-buttons-container {
  margin-bottom: var(--spacing-6);
}

.action-button {
  border: var(--border-width) solid var(--main-color) !important;
  border-radius: 50px !important;
  margin: 0 !important;
  margin-bottom: var(--spacing-6) !important;
  display: block !important;
  width: 100%;
  height: 80px;

  font-size: 19px !important;
  color: var(--font-color) !important;
}

.action-button:hover {
  background-color: var(--main-color) !important;
  color: white !important;
}

.social-buttons-container {
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.social-button {
  border: var(--border-width) solid var(--main-color) !important;
  border-radius: 25px !important;
  width: 64px;
  height: 64px;
  color: var(--main-color) !important;
}

.social-button:hover {
  background-color: var(--main-color) !important;
  color: white !important;
}

.social-icon {
  font-size: 2rem !important;
  color: inherit;
}

.image-container {
  background-image: url("https://media.vogue.fr/photos/5c360f26bc36eb53c16d0323/master/w_1280,c_limit/big_mamma_98.jpeg?lang=eng");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  margin: 0 auto !important;
  width: 100%;
  min-height: 400px;
}

@media screen and (min-width: 600px) {
  .action-buttons-container {
    margin: 0 auto;
  }

  .action-button {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 500px;
  }

  .social-buttons-container {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 768px) {
  .home-content-background {
    padding-top: calc(var(--spacing-12) + var(--spacing-4));
    padding-bottom: var(--spacing-8);
  }

  .text-container {
    max-width: 720px;
  }

  .action-buttons-container {
    display: flex;
    max-width: 720px;
  }

  .action-button {
    display: inline !important;
    max-width: 270px;
  }
}

@media screen and (min-width: 992px) {
  .home-content-background {
  }

  .content {
    display: flex;
  }

  .left-content {
    width: 50%;
    padding-bottom: 0 !important;
  }

  .right-content {
    width: 50%;
  }

  .text-container {
    margin-bottom: 0 auto var(--spacing-6) !important;
  }

  .action-buttons-container {
    display: block;
    margin-bottom: var(--spacing-2);
  }

  .image-container {
    height: 900px;
  }
}

@media screen and (min-width: 1200px) {
  .home-content-background {
  }

  .action-buttons-container {
    display: flex;
  }

  .action-button {
    max-width: 240px;
    margin-left: 0 !important;
    margin-right: var(--spacing-2) !important;
  }

  .social-buttons-container {
    position: relative;
    left: -15px;
  }

  .image-container {
    max-height: 700px !important;
  }
}
