a {
  text-decoration: none;
  color: var(--font-color);
}

.navbar,
.toolbar {
  background-color: white !important;
  height: 100px;
}

.navbar-buttons-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}


.hamburger-button {
  color: var(--main-color);
  font-size: 60px !important;
}

.navbar-button {
  background-color: white !important;
  border-radius: 0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;

  border-bottom: var(--border-width) solid var(--main-color) !important;
  width: 150px;
  height: 70px;
  font-size: 24px !important;
  font-weight: bold !important;
  color: var(--font-color) !important;
}

.navbar-menu-item {
  text-transform: capitalize;
}

/* @media screen and (min-width: 768px) {

} */

@media screen and (min-width: 992px) {
  .navbar-button {
    width: 160px;
  }
}

@media screen and (min-width: 1200px) {
  .navbar-button {
    width: 180px;
  }
}

